@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

.python {
  --color-fd-primary: var(--python-color);
}

:root {
  --python-color: hsl(206, 41.77%, 45.54%);
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --python-color: hsl(217 92% 76%);
}
