@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

.python {
  --color-fd-primary: var(--python-color);
}

.docker {
  --color-fd-primary: var(--docker-color);
}

.fastapi {
  --color-fd-primary: var(--fastapi-color);
}

.sql {
  --color-fd-primary: var(--sql-color);
}

.git {
  --color-fd-primary: var(--git-color);
}

.grafana {
  --color-fd-primary: var(--grafana-color);
}

.menu-item {
  color: var(--color-fd-primary, var(--color-fd-foreground));
}

.menu-item div:first-of-type {
  border: 1px solid
    color-mix(
      in oklab,
      var(--python-color, var(--color-fd-foreground)) 50%,
      transparent
    );
  --tw-ring-color: color-mix(
    in oklab,
    var(--color-fd-primary, var(--color-fd-foreground)) 20%,
    transparent
  );
  @apply ring-2;
}

:root {
  --color-fd-primary: hsl(190, 99%, 36%);

  --python-color: hsl(206, 41.77%, 45.54%);
  --docker-color: hsl(220 85.3% 52%);
  --fastapi-color: hsl(174 100% 29%);
  --sql-color: hsl(320, 44%, 56%);
  --git-color: hsl(10 85.8% 58.4%);
  --grafana-color: hsl(21 91% 56.7%);
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --color-fd-primary: hsl(190, 87%, 51%);

  --python-color: hsl(217 92% 76%);
  --docker-color: hsl(220, 66%, 68%);
  --fastapi-color: hsl(174, 99%, 40%);
  --sql-color: hsl(320, 44%, 56%);
  --git-color: hsl(10 85.8% 58.4%);
  --grafana-color: hsl(21 91% 56.7%);
}

/* [data-state="open"] {
  color: var(--color-fd-primary);
} */

.python-hover:hover {
  color: var(--python-color);
}

.git-hover:hover {
  color: var(--git-color);
}

.docker-hover:hover {
  color: var(--docker-color);
}

.fastapi-hover:hover {
  color: var(--fastapi-color);
}

.grafana-hover:hover {
  color: var(--grafana-color);
}

.sql-hover:hover {
  color: var(--sql-color);
}
